<% layout('../layouts/mainlayout.ejs') -%>
<br />

<link rel='stylesheet' href='/public/formstyle.css'/>

<br>
<div class="login-form">
    <form action="/user/LoginUser" method="POST">
        <h2 class="text-center">Login</h2>
        <img style="display:block; margin-left: auto; margin-right: auto; padding-bottom: 20px;"  src="/public/usericon.png" width="100px">
        <div class="form-group">
            <input name="username" class="form-control" type="text" placeholder="Username"
                value="<%= user.username ? user.username : '' %>">
        </div>
        <div class="form-group">
            <input name="password" class="form-control" placeholder="Password" type="password">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block">Log in</button>
        </div>
    </form>
    <p class="text-center"><a href="/user/Register">Create an Account</a></p>
</div>
<p class="text-center" style="color: purple; font-weight: bold;"><%= errorMessage ? errorMessage : "" %></p><br>