
<% layout('../layouts/mainlayout.ejs') -%>
<%if (Notification) { %>
    <b style="color: green; float: right; font-size: 20px;">Event Today</b>

 <% } else { %>
 <% } %>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Calendar</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
          integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/microtip/microtip.css" crossorigin="anonymous">
    
    

</head>
<body>
    <h1>Calendar</h1>
<div class="container col-sm-4 col-md-7 col-lg-6 mt-5">
    <div class="card">
        <h3 class="card-header" id="monthAndYear"></h3>
        <table class="table table-bordered table-responsive-sm" id="calendar">
            <thead>
            <tr>
                <th>Sun</th>
                <th>Mon</th>
                <th>Tue</th>
                <th>Wed</th>
                <th>Thu</th>
                <th>Fri</th>
                <th>Sat</th>
            </tr>
            </thead>

            <tbody id="calendar-body">

            </tbody>
        </table>

        <div class="form-inline">

            <button class="btn btn-outline-primary col-sm-6" id="previous" onclick="previous()">Previous</button>

            <button class="btn btn-outline-primary col-sm-6" id="next" onclick="next()">Next</button>
        </div>
        <br/>
        <form class="form-inline">
            <label class="lead mr-2 ml-2" for="month">Jump To: </label>
            <select class="form-control col-sm-4" name="month" id="month" onchange="jump()">
                <option value=0>Jan</option>
                <option value=1>Feb</option>
                <option value=2>Mar</option>
                <option value=3>Apr</option>
                <option value=4>May</option>
                <option value=5>Jun</option>
                <option value=6>Jul</option>
                <option value=7>Aug</option>
                <option value=8>Sep</option>
                <option value=9>Oct</option>
                <option value=10>Nov</option>
                <option value=11>Dec</option>
            </select>


            <label for="year"></label><select class="form-control col-sm-4" name="year" id="year" onchange="jump()">
            <option value=1990>1990</option>
            <option value=1991>1991</option>
            <option value=1992>1992</option>
            <option value=1993>1993</option>
            <option value=1994>1994</option>
            <option value=1995>1995</option>
            <option value=1996>1996</option>
            <option value=1997>1997</option>
            <option value=1998>1998</option>
            <option value=1999>1999</option>
            <option value=2000>2000</option>
            <option value=2001>2001</option>
            <option value=2002>2002</option>
            <option value=2003>2003</option>
            <option value=2004>2004</option>
            <option value=2005>2005</option>
            <option value=2006>2006</option>
            <option value=2007>2007</option>
            <option value=2008>2008</option>
            <option value=2009>2009</option>
            <option value=2010>2010</option>
            <option value=2011>2011</option>
            <option value=2012>2012</option>
            <option value=2013>2013</option>
            <option value=2014>2014</option>
            <option value=2015>2015</option>
            <option value=2016>2016</option>
            <option value=2017>2017</option>
            <option value=2018>2018</option>
            <option value=2019>2019</option>
            <option value=2020>2020</option>
            <option value=2021>2021</option>
            <option value=2022>2022</option>
            <option value=2023>2023</option>
            <option value=2024>2024</option>
            <option value=2025>2025</option>
            <option value=2026>2026</option>
            <option value=2027>2027</option>
            <option value=2028>2028</option>
            <option value=2029>2029</option>
            <option value=2030>2030</option>
        </select></form>
    </div>
</div>
<br>
<div class="card" style="width: 18rem; left: 38%; ">
    <ul class="list-group list-group-flush">
      <li class="list-group-item" style="background-color: #5bc0de ; color:white;">Today</li>
      <li class="list-group-item" style="background-color: #0275d8 ; color:white;">Event Today</li>
      <li class="list-group-item" style="background-color: #5cb85c ; color:white;">Event on this Day</li>
    </ul>
  </div>
  <br>
<!--<button name="jump" onclick="jump()">Go</button>-->

<!-- Optional JavaScript for bootstrap -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script>    
    today = new Date();
    currentMonth = today.getMonth();
    currentYear = today.getFullYear();
    selectYear = document.getElementById("year");
    selectMonth = document.getElementById("month");
    let events_arr = [];
    let events_arr_date = [];
    let events_obj = {};
    
    months = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];
    
    monthAndYear = document.getElementById("monthAndYear");
    showCalendar(currentMonth, currentYear);
    
    
    function next() {
        currentYear = (currentMonth === 11) ? currentYear + 1 : currentYear;
        currentMonth = (currentMonth + 1) % 12;
        showCalendar(currentMonth, currentYear);
    }
    
    function previous() {
        currentYear = (currentMonth === 0) ? currentYear - 1 : currentYear;
        currentMonth = (currentMonth === 0) ? 11 : currentMonth - 1;
        showCalendar(currentMonth, currentYear);
    }
    
    function jump() {
        currentYear = parseInt(selectYear.value);
        currentMonth = parseInt(selectMonth.value);
        showCalendar(currentMonth, currentYear);
    }
    
    function showCalendar(month, year) {
    
        let firstDay = (new Date(year, month)).getDay();
        
        tbl = document.getElementById("calendar-body"); // body of the calendar
    
        // clearing all previous cells
        tbl.innerHTML = "";
    
        // filing data about month and in the page via DOM.
        monthAndYear.innerHTML = months[month] + " " + year;
        selectYear.value = year;
        selectMonth.value = month;
    
        // creating all cells
        let date = 1;
        for (let i = 0; i < 6; i++) {
            // creates a table row
            let row = document.createElement("tr");
    
            //creating individual cells, filing them up with data.
            for (let j = 0; j < 7; j++) {
                if (i === 0 && j < firstDay) {
                    cell = document.createElement("td");
                    cellText = document.createTextNode("");
                    cell.appendChild(cellText);
                    row.appendChild(cell);
                }
                else if (date > daysInMonth(month, year)) {
                    break;
                }
    
                else {
                    cell = document.createElement("td");
                    cellText = document.createTextNode(date);
 // color today's date
                    let authenticated = JSON.parse('<%=reqInfo.authenticated%>');
                    if(authenticated)
                    {
                        events_arr = '<%= myevents %>'.split(',');

                        for(let i = 0; i < events_arr.length; i ++)
                        {
                            let double = events_arr[i].split("|");
                            events_obj[double[0]] = new Date(double[1]);
                        }
                    }
                    let str = ""
                    for(let [key, value] of Object.entries(events_obj))
                    {
                        if (date === value.getDate() && year === value.getFullYear() && month === value.getMonth()) 
                        {
                            if(str == "")
                            {str = key;}
                            else
                            {str = str + ", " + key;}
                            cell.classList.add("bg-success");
                            $(cell).attr("aria-label", str)
                            $(cell).attr("role", "tooltip")
                            $(cell).attr("data-microtip-position", "bottom")
                        }
                    }
                    if (date === today.getDate() && year === today.getFullYear() && month === today.getMonth()) {
                        if ($(cell).hasClass("bg-success"))
                        {
                            cell.classList.remove("bg-success");
                            cell.classList.add("bg-primary");
                            $(cell).attr("aria-label", "Event Today")
                            $(cell).attr("role", "tooltip")
                            $(cell).attr("data-microtip-position", "bottom")
                        }
                        else
                        {
                            cell.classList.add("bg-info");
                            $(cell).attr("aria-label", "Today")
                            $(cell).attr("role", "tooltip")
                            $(cell).attr("data-microtip-position", "bottom")
                        }
                    }
                    cell.appendChild(cellText);
                    row.appendChild(cell);
                    date++;
                }
    
    
            }
    
            tbl.appendChild(row); // appending each row into calendar body.
        }
    
    }
    
    function daysInMonth(iMonth, iYear) {
        return 32 - new Date(iYear, iMonth, 32).getDate();
    } 
    </script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.4.0/umd/popper.min.js" 
        integrity="sha256-FT/LokHAO3u6YAZv6/EKb7f2e0wXY3Ff/9Ww5NzT+Bk=" 
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"
        integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
        crossorigin="anonymous"></script>


</body>
</html>